
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container" ng-app="quizApp" ng-controller="questionController">

  <div class="panel panel-primary" ng-init="getExam(1)">
    <div class="panel-heading"><h2>{{exam.Quiz.Title}}</h2></div>
    <div class="panel-body">
      <div>
        <div ng-repeat="question in exam.Quiz.Questions" ng-show="question.QuestionID == exam.CurrentQuestionID">
          <div class="panel panel-default">
            <div class="panel-body">
              {{question.Text}}
              <table>
                <tr ng-repeat="option in question.Options">
                  <td>
                    <input ng-show="question.Type == 0" type="radio" name="Q{{question.QuestionID}}" value="{{option.OptionID}}" ng-model="option.selected" />
                    <input ng-show="question.Type == 1" type="checkbox" name="Q{{question.QuestionID}}" value="{{option.OptionID}}" ng-model="option.selected" />
                    {{option.Text}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <input type="button" class="btn btn-default" ng-disabled="buttons.backButtonDisabled" value="Back"/>
        <input type="button" class="btn btn-default" value="Next" ng-click="nextQuestion()" />        
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <script type="text/javascript" src="~/Scripts/Apps/Quiz/Quiz.js"></script>
  <script type="text/javascript" src="~/Scripts/Apps/Quiz/Controllers/QuestionController.js"></script>
}