
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container" ng-app="quizApp" ng-controller="questionController">

  <div class="panel panel-primary">
    <div class="panel-heading">Title</div>
    <div class="panel-body">
      <p>Message: {{Message}}</p>

      <div ng-init="getQuestion(1)">
        {{question.Text}}
        <table>
          <tr ng-repeat="option in question.Options">
            <td>
              <input type="radio" name="Q{{question.QuestionID}}" value="{{option.OptionID}}" /> {{option.Text}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <script type="text/javascript" src="~/Scripts/Apps/Quiz/Quiz.js"></script>
  <script type="text/javascript" src="~/Scripts/Apps/Quiz/Controllers/QuestionController.js"></script>
}