
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container" ng-app="demo" ng-controller="controller">

  <div class="panel panel-primary">
    <div class="panel-heading">Title</div>
    <div class="panel-body">
      <p>Message: {{Message}}</p>
    </div>
  </div>
</div>

@section Scripts
{
  var app = angular.module('demo', ['ui.bootstrap', 'ui.router']);
  app.controller("controller", function($scope) {
  $scope.Message = "Hello World";
  });
}
